* {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style-type: none;
  box-sizing: content-box; }

body {
  width: 100%; }

a {
  cursor: pointer; }

.menu a {
  font-size: 1.1rem;
  transition: .2s; }
  .menu a:hover {
    color: #31ff31 !important;
    transition: .2s; }

.menu .login-block i {
  font-size: 1.8rem;
  position: relative;
  cursor: pointer;
  transition: .2s; }
  .menu .login-block i span {
    position: absolute;
    top: 0;
    right: 0;
    height: 15px;
    width: 15px;
    font-size: .8rem;
    line-height: 15px;
    display: inline-block; }
  .menu .login-block i:hover {
    color: #31ff31;
    transition: .2s; }

.side {
  transition: .5s;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 100000;
  width: 65%;
  height: 100%;
  transform: translateX(100%); }
  .side .mini-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #81818133;
    border-top: 1px solid #81818133;
    padding: .5rem 1rem;
    align-items: center; }
    .side .mini-header h3 {
      margin: 0;
      font-size: 16px; }
    .side .mini-header i {
      font-size: 50px;
      cursor: pointer;
      transition: .3s; }
      .side .mini-header i:hover {
        transform: rotate(180deg);
        transition: .3s; }

.side-transform {
  transform: translateX(0) !important; }

.login .login-body, .register .login-body, .recover-pw .login-body {
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box; }
  .login .login-body .form-row, .register .login-body .form-row, .recover-pw .login-body .form-row {
    display: flex;
    flex-direction: column;
    color: #808080;
    margin-bottom: 2rem; }
    .login .login-body .form-row input, .register .login-body .form-row input, .recover-pw .login-body .form-row input {
      width: 100%;
      box-sizing: border-box;
      border: 1px solid #d5d5d5;
      height: 40px;
      padding: 0 1rem; }
    .login .login-body .form-row label, .register .login-body .form-row label, .recover-pw .login-body .form-row label {
      margin-bottom: 1rem; }
      .login .login-body .form-row label span, .register .login-body .form-row label span, .recover-pw .login-body .form-row label span {
        color: red; }
  .login .login-body > input, .register .login-body > input, .recover-pw .login-body > input {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    outline: none;
    border: none;
    background: orange;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer; }
    .login .login-body > input:hover, .register .login-body > input:hover, .recover-pw .login-body > input:hover {
      opacity: .8; }
  .login .login-body p, .register .login-body p, .recover-pw .login-body p {
    margin-top: 2rem;
    color: #808080; }
    .login .login-body p a, .register .login-body p a, .recover-pw .login-body p a {
      transition: .2s; }
      .login .login-body p a:hover, .register .login-body p a:hover, .recover-pw .login-body p a:hover {
        color: #808080;
        transition: .2s; }

.mark {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8) !important;
  position: fixed;
  top: 0;
  display: none;
  z-index: 10; }

.show-mark {
  display: block; }

.footer {
  width: 100%;
  height: 200px;
  background-color: #76e288; }

.bg-main {
  background-image: url("../img/premier-league-bg.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%; }
  .bg-main h2, .bg-main h4 {
    color: #fdba01;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 1.3rem; }

.btn-allfbclub {
  width: fit-content;
  margin: auto;
  display: block; }

.button-effect {
  padding: 1rem 2rem;
  border: 0;
  color: white;
  background-color: white;
  background-color: var(--primary);
  text-transform: uppercase;
  transition: padding 0.25s linear;
  text-align: center;
  position: relative; }
  .button-effect i {
    font-size: 2rem; }

.button-effect:hover {
  padding-right: 5rem; }

.button-effect i {
  transition: 0.25s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%); }

.button-effect:hover i {
  transform: translateY(-50%);
  opacity: 1; }

p {
  font-size: 1.3rem; }

.menu-icon {
  width: 60px;
  display: none;
  cursor: pointer; }

.bar-1, .bar-2, .bar-3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: .5s; }

.change .bar-1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px); }

.change .bar-2 {
  opacity: 0; }

.change .bar-3 {
  -webkit-transform: rotate(45deg) translate(-9px, 6px);
  transform: rotate(45deg) translate(-9px, -6px); }

.location {
  display: none; }

@media (min-width: 320px) {
  .menu .main-menu ul li {
    display: none; }
  .menu .main-menu .menu-icon {
    display: inline-block;
    height: fit-content;
    position: absolute;
    right: 0;
    top: 10px;
    bottom: 0; }
  .menu .login-block {
    display: none !important; } }

@media (min-width: 768px) {
  .location {
    display: block; }
  .bg-main {
    padding-bottom: 5rem; }
    .bg-main div > h2 {
      font-size: 2rem; }
  .menu .main-menu ul li {
    display: block; }
  .menu .main-menu .menu-icon {
    display: none;
    height: fit-content;
    position: absolute;
    right: 0;
    top: 10px;
    bottom: 0; }
  .menu .login-block {
    display: flex !important; }
    .menu .login-block i div {
      display: none; } }

@media (min-width: 1024px) {
  .login-block i div {
    display: block !important; }
  .bg-main {
    padding-bottom: 20rem !important; }
  .side {
    width: 340px; } }

.mu {
  color: red; }

.mancity {
  color: #1dacff; }

.zoom .building {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around; }
  .zoom .building button {
    width: 20%;
    height: 75px;
    font-size: 2rem;
    font-weight: 800; }

.zoom .room {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap; }
  .zoom .room button {
    font-weight: 800; }

.zoom .id {
  position: relative; }
  .zoom .id .notice {
    position: absolute;
    top: 50px;
    right: 50%;
    transform: translateX(50%); }
