	<div class="menu container-fluid row bg-secondary text-white px-0 mx-0" style="background-image: linear-gradient(to right, #37CCFF, #7B22FF);">
		<div class="col-2 d-flex flex-column justify-content-center">
			<a href="https://fooballclubepl.herokuapp.com/" style="width: 95px"><img class="logo" src="/img/premier_league_logo.jpg" alt="Premier League Logo" style="width: 95px; border-radius: 30%"></a>
		</div>
		<div class="col-10 col-md-9 col-lg-8">
			<nav class="navbar navbar-expand m-0 p-0 main-menu">
                <div class="menu-icon">
                    <div class="bar-1"></div>
                    <div class="bar-2"></div>
                    <div class="bar-3"></div>
                </div>
				<ul class="navbar-nav mx-auto">
					<li class="nav-item">
						<a href="https://fooballclubepl.herokuapp.com/" class="nav-link text-white px-3 py-4">Home</a>
					</li>
					<li class="nav-item">
						<a href="/all-fb-club" class="nav-link text-white px-4 px-lg-5 py-4">Football club</a>
					</li>
					<li class="nav-item">
						<a href="/create" class="nav-link text-white px-4 px-lg-5 py-4">Create</a>
					</li>
					<li class="nav-item">
						<a href="/tt" class="nav-link text-white px-4 px-lg-5 py-4">Manager</a>
					</li>
                    <li class="nav-item">
						<a href="/schedule" class="nav-link text-white px-4 px-lg-5 py-4">Schedule</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="login-block col-0 col-md-1 col-lg-2 d-flex justify-content-start align-items-center">
			<i class="login-icon pegk pe-7s-user px-2 d-flex align-items-center"><div class="px-2">Login / Register</div></i>
		</div>
	</div>

	<div class="side login">
        <div class="mini-header">
            <h3>LOGIN</h3>
            <i class="pegk pe-7s-close"></i>
        </div>
        <div class="login-body">
            <div class="form-row">
                <label>Email <span>*</span></label>
                <input type="email">
            </div>
            <div class="form-row">
                <label>Password <span>*</span></label>
                <input type="password">
            </div>
            <input type="submit" value="SIGN IN">
            <p>New customer? <a href="#0" class="to-register">Create your account</a></p>
            <p>Lost password? <a href="#0" class="to-recover-pw">Recover password</a></p>
        </div>
    </div>
    <div class="side register">
        <div class="mini-header">
            <h3>REGISTER</h3>
            <i class="pegk pe-7s-close"></i>
        </div>
        <div class="login-body">
            <div class="form-row">
                <label>Full name</label>
                <input type="text">
            </div>
            <div class="form-row">
                <label>Email <span>*</span></label>
                <input type="email">
            </div>
            <div class="form-row">
                <label>Password <span>*</span></label>
                <input type="password">
            </div>
            <input type="submit" value="ĐĂNG KÝ">
            <p>Already have an account? <a href="#0" class="register-to-login">Login here</a></p>
        </div>
    </div>
    <div class="side recover-pw">
        <div class="mini-header">
            <h3>RECOVER PASSWORD</h3>
            <i class="pegk pe-7s-close"></i>
        </div>
        <div class="login-body">
            <div class="form-row">
                <label>Email Address</label>
                <input type="email">
            </div>
            <input type="submit" value="LẤY LẠI MẬT KHẨU">
            <p>Remembered your password? <a href="#0" class="recover-to-login">Back to login</a></p>
        </div>
    </div>
    <div class="mark"></div>

    <div class="side menu-responsive">
        <div class="mini-header">
            <h3>MENU</h3>
            <i class="pegk pe-7s-close"></i>
        </div>
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a href="https://fooballclubepl.herokuapp.com/" class="nav-link px-5 py-4">Home</a>
            </li>
            <li class="nav-item">
                <a href="/all-fb-club" class="nav-link px-5 py-4">Football club</a>
            </li>
            <li class="nav-item">
                <a href="/create" class="nav-link px-5 py-4">Create</a>
            </li>
            <li class="nav-item">
                <a href="/tt" class="nav-link px-5 py-4">Manager</a>
            </li>
        </ul>
    </div>

