<div class="bg-main">
    <div class="container pt-5">
        <h2 style="margin-top: 7.5%">The Premier League, often referred to outside the UK as the English Premier League, 
        or sometimes the EPL, is the top level of the English football league system. 
        Contested by 20 clubs, it operates on a system of promotion and relegation with the English Football League. 
        </h2>
        <h4>Website: <a href="https://www.premierleague.com/">https://www.premierleague.com</a></h4>
        <h4>More information about Premier League: <a href="https://en.wikipedia.org/wiki/Premier_League">Wikipedia</a></h4>
        <a href="/all-fb-club"><button class="button-effect mt-5">All Football Club <i class="perk pe-7s-angle-right"></i></button></a>
    </div>
</div>