<div class="container zoom">
    <div class="alert alert-info my-3" role="alert">
        <h3 class="text-center">Tìm Id và password Zoom theo phòng</h3>
    </div>
    <div class="my-4 building">
        <button type="button" class="btn btn-success" value="2">C2</button>
        <button type="button" class="btn btn-danger" value="4">C4</button>
        <button type="button" class="btn btn-dark" value="5">C5</button>
        <button type="button" class="btn btn-info" value="6">C6</button>
    </div>
    <div class="room">

    </div>
    <div class="id d-none">
        <h3 class="title alert alert-warning text-center mb-5"></h3>
        <div class="toast notice" role="alert" aria-live="assertive" aria-atomic="true" data-delay="500">
            <div class="toast-body bg-dark text-white">
                Đã coppy
            </div>
        </div>
        <div class="row linkzoom">
            <p class="m-0 col-lg-3">Link: </p><a class="link col-7" target="_blank"></a>
            <button type="button" class="btn btn-link coppylink col-lg-2">Copy link</button>
        </div>
        <div class="row">
            <p class="col-3"></p>
            <p class="m-0 col-lg-2">Zoom ID: </p><p id="zoomid" class="m-0 col-12 col-lg-1 text-center"></p>
            <button type="button" class="btn btn-link coppyID col-lg-2">Copy ID</button>
            <p class="col-4"></p>
        </div>
        <div class="row">
            <p class="col-3"></p>
            <p class="m-0 col-lg-2">Zoom password: </p><p id="zoompw" class="m-0 col-12 col-lg-1 text-center"></p>
            <button type="button" class="btn btn-link coppyPW col-lg-2">Copy PW</button>
            <p class="col-4"></p>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
    var c2 = [101, 104, 201, 202, 203, 301, 302, 303, 304];
    var id_c2 = [9676047444, 4857951122, 3621784686, 5368913024, 7659082261, 6808631727, 2731295791, 7702401297, 9480459400];
    var link_c2 = ['', '', '', '', '', '', '', '', ''];
    var c4 = [101, 102, 201, 202, 203, 301, 302];
    var id_c4 = [2883294056, 4213338621, 6730542252, 8644868946, 3788779811, 9131849500, 6934179985];
    var link_c4 = ['', '', '', '', '', '', ''];
    var c5 = [101, 102, 103, 104, 106, 201, 202, 204, 205, 206, 207, 301, 302, 303, 304, 401, 402, 404, 405, 501, 502, 503, 504];
    var id_c5 = [8467190414, 5932534071, 7766760595, 6377673665, 5180486349, 4956417793, 7020678347, 2545058902, 8073276935, 7605020984, 7086915421, 9415629187, 2052390645, 9104945055, 6268594687, 4305093454, 6029649949, 8848625597, 8509977986, 4493196325, 2042463588, 7245613121, 3708173651];
    var link_c5 = ['', '', 'https://zoom.us/j/7766760595?pwd=ZVJEOXUvVGFLMTVLOEMxQXVaTG9HZz09', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'https://zoom.us/j/8848625597?pwd=MGlnYWJyaXJ3LzBkUjFPeCtjN2dZQT09', '', '', '', '', ''];
    var c6 = [202, 203, 301, 302, 306, 606, 607, 666];
    var id_c6 = [7800973599, 5011591184, 3069521310, 3955812828, 8741620614, 4246008842, 3481556119, 6988067468];
    var link_c6 = ['', '', '', '', '', '', '', ''];
    var val_flag = 0;
    $('.building button').click(function(){
        var toa = $(this).val();
        if(val_flag == toa){
            $('.room').empty();
            $('.id').removeClass('d-block');
            val_flag = 0;
        }
        else {
            val_flag = toa;
            $('.room').empty();
            $('.id').removeClass('d-block');
            if(toa == 2){
                var val;
                for(var i=0;i<c2.length;i++){
                    val = c2[i];
                    $('.room').append(`<button type="button" class="btn btn-outline-success m-2" style="width: 65px;" value="${i}">${val}</button>`);
                }
                $('.room button').click(function(){
                    var index = $(this).val();
                    $('#zoomid').text(`${id_c2[index]}`);
                    $('#zoompw').text(`ictu2${c2[index]}`);
                    $('.id .title').text(`Giảng đường C2 - Phòng ${c2[index]}`);
                    $('.id').addClass('d-block');
                    $('.link').attr("href", `${link_c2[index]}`);
                    $('.link').text(`${link_c2[index]}`);
                    if(link_c2[index] == ''){
                        $('.linkzoom').hide();
                    }
                    else{
                        $('.linkzoom').show();
                        $('.link').attr("href", `${link_c2[index]}`);
                        $('.link').text(`${link_c2[index]}`);
                    }
                })
            }

            if(toa == 4){
                var val;
                for(var i=0;i<c4.length;i++){
                    val = c4[i];
                    $('.room').append(`<button type="button" class="btn btn-outline-danger m-2" style="width: 65px;" value="${i}">${val}</button>`);
                }
                $('.room button').click(function(){
                    var index = $(this).val();
                    $('#zoomid').text(`${id_c4[index]}`);
                    $('#zoompw').text(`ictu4${c4[index]}`);
                    $('.id .title').text(`Giảng đường C4 - Phòng ${c4[index]}`);
                    $('.id').addClass('d-block');
                    $('.link').attr("href", `${link_c4[index]}`);
                    $('.link').text(`${link_c4[index]}`);
                    if(link_c4[index] == ''){
                        $('.linkzoom').hide();
                    }
                    else{
                        $('.linkzoom').show();
                        $('.link').attr("href", `${link_c4[index]}`);
                        $('.link').text(`${link_c4[index]}`);
                    }
                })
            }

            if(toa == 5){
                var val;
                for(var i=0;i<c5.length;i++){
                    val = c5[i];
                    $('.room').append(`<button type="button" class="btn btn-outline-dark m-2" style="width: 65px;" value="${i}">${val}</button>`);
                }
                $('.room button').click(function(){
                    var index = $(this).val();
                    $('#zoomid').text(`${id_c5[index]}`);
                    $('#zoompw').text(`ictu5${c5[index]}`);
                    $('.id .title').text(`Giảng đường C5 - Phòng ${c5[index]}`);
                    $('.id').addClass('d-block');
                    if(link_c5[index] == ''){
                        $('.linkzoom').hide();
                    }
                    else{
                        $('.linkzoom').show();
                        $('.link').attr("href", `${link_c5[index]}`);
                        $('.link').text(`${link_c5[index]}`);
                    }
                })
            }

            if(toa == 6){
                var val;
                for(var i=0;i<c6.length;i++){
                    val = c6[i];
                    if(c6[i]!=666){
                        $('.room').append(`<button type="button" class="btn btn-outline-info m-2" style="width: 65px;" value="${i}">${val}</button>`);
                    }
                    else $('.room').append(`<button type="button" class="btn btn-outline-info m-2" style="width: 65px;" value="${i}">KHDL</button>`);
                }
                $('.room button').click(function(){
                    var index = $(this).val();
                    $('#zoomid').text(`${id_c6[index]}`);
                    $('#zoompw').text(`ictu6${c6[index]}`);
                    $('.id .title').text(`Giảng đường C6 - Phòng ${c6[index]}`);
                    if(index == 7){
                        $('#zoompw').text(`ictu6khdl`);
                        $('.id .title').text(`Giảng đường C6 - Phòng KHDL`);
                    }
                    $('.id').addClass('d-block');
                    $('.link').attr("href", `${link_c6[index]}`);
                    $('.link').text(`${link_c6[index]}`);
                    if(link_c6[index] == ''){
                        $('.linkzoom').hide();
                    }
                    else{
                        $('.linkzoom').show();
                        $('.link').attr("href", `${link_c6[index]}`);
                        $('.link').text(`${link_c6[index]}`);
                    }
                })
            }
        }

    })


    $('.coppyID').click(function(){
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($('#zoomid').text()).select();
        document.execCommand("copy");
        $temp.remove();
        $('.toast').toast('show');
    })
    $('.coppylink').click(function(){
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($('.link').text()).select();
        document.execCommand("copy");
        $temp.remove();
        $('.toast').toast('show');
    })
    $('.coppyPW').click(function(){
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($('#zoompw').text()).select();
        document.execCommand("copy");
        $temp.remove();
        $('.toast').toast('show');
    })
})
</script>